<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments Page</title>
    <head>
    <body>
    <p>Welcome to my assignments page!</p>
    Homework Summaries:
    <p>Homework 1A: We did binary number conversions and calculations, wrote a 
    truth table, and wrote simple pseudocode algorithms.</p>
    <p>Homework 1B: We wrote a program to print out the user's inputted name, 
    count the number of letters, decide if the number of letters is even or
    odd, and print out each letter using for loops and multiple functions. We 
    also wrote another program to manipulate lists using for loops and indexing.</p>
    <p>Homework 2A: We implemented different sorting algorithms, like selection
    sort and sequential search, and analyzed their efficiencies.</p>
    <p>Homework 2B: We wrote a program to implement physics formulas regarding
    trajectories to calculate position, speed, and velocity. We also started the
    machine learning project by writing functions to take in the file name, 
    divide the data set, and returning the number of rows and columns in a 
    dictionary.</p>
    <p>Homework 3A: We analyzed the efficiency of operations on sets, lists, and
    dictionaries and wrote recursive functions.</p>
    <p>Homework 3B: We wrote functions to read arrays and write output a corresponding
    array whose sites were based on an inputted probability. It would demonstrate
    percolation as the blue color would travel to white spaces and get blocked
    by the black ones. We also continued the machine learning project by writing 
    functions to convert the data types and to split the data based on given 
    percentages.</p>
    <p>Homework 4: This homework was based on object oriented programming and we
    modeled a class registration system and modified different attributes from 
    different classes.</p>
    <p>Midterm: For this assignment, we wrote three different functions to 
    filter out unwanted images based on 3 inputted images, turn an inputted image
    gray, and horizontally flip and image using pixel manipulation.</p>
    <p>Homework 5: We finished the machine learning assignment by implementing
    different functions to return skew, kurtosis, implementing knn, sklearn, and
    svm models, and plotting a corresponding heat map.</p>
    
    <p>My favorite assignment this semester was the Midterm. I was fascinated by
    the pixel manipulation of the ppm files. I enjoyed figuring out the theory
    behind each function, like how to change to take the mode of the pixels to 
    figure out the unwanted image and remove it, or how to flip the pixels in
    groups of three to horizontally flip the entire image. I also liked learning
    about the RGB pixels.
    </body>
</html>