<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome to my classes page!</p>
    <table>
    <thead>
    <tr>
    <th>Course Number</th>
    <th>Course Name</th>
    <th>Professor</th>
    <th>Number of Credits</th>
    </tr>
    <tbody>
    <tr>
    <td>ENGI 1006</td>
    <td>Introduction to Computing</td>
    <td>Prof. Paine</td>
    <td>3</td>
    </tr>
    <tr>
    <td>COMS 3134</td>
    <td>Data Structures</td>
    <td>Prof. Blaer</td>
    <td>3</td>
    </tr>
    <tr>
    <td>COMS 3203</td>
    <td>Discrete Math</td>
    <td>Prof. Salleb-Aouissi</td>
    <td>3</td>
    </tr>
    <tr>
    <td>PHYS 1402</td>
    <td>Introduction to E&M</td>
    <td>Prof. Karagiorgi</td>
    <td>3</td>
    </tr>
    </tbody>
    </thead>
    </table>
    
    <p>My favorite class this semester was ENGI 1006 because I enjoyed learning
    a new coding language. I had always wanted to learn Python and I was excited
    to finally do so. The homeworks were always interesting and a fun way to 
    implement what we learned. I found the language easy to understand.
    I also liked learning about the vast number of libraries that are available. </p>
</html>