<!--
Name: Janelle Ponnor
UNI: jp4024
This file is the classes page and it contains a table that holds all of my
classes from this semester as well as a description of my favorite class.
!-->

<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes Page</title>
    <head>
    <body>
    <p>Welcome to my classes page!</p>
    <!-- table containing information about all classes !-->
    <table>
    <thead>
    <tr>
    <th>Course Number</th>
    <th>Course Name</th>
    </tr>
    <tbody>
    <tr>
    <td>ENGI E1006</td>
    <td>Introduction to Computing for Engineers and Applied Scientists</td>
    </tr>
    <tr>
    <td>COMS W3134</td>
    <td>Data Structures in Java</td>
    </tr>
    <tr>
    <td>COMS 3203</td>
    <td>Discrete Math</td>
    </tr>
    <tr>
    <td>PHYS 1402</td>
    <td>Introduction to Electricity, Magnetism, and Optics</td>
    </tr>
    </tbody>
    </thead>
    </table>
    
    <!-- description of favorite class !-->
    <p>My favorite class this semester was ENGI E1006 because I enjoyed learning
    a new coding language. I had always wanted to learn Python and I was excited
    to finally do so. The homeworks were always interesting and a fun way to 
    implement what we learned. I found the language easy to understand.
    I also liked learning about the vast number of libraries that are available.
    </p>
</html>