<!--
Name: Janelle Ponnor
UNI: jp4024
This is the home page which contains my bio, an image, and links to my 
assignments page, my classes page, and to AllRecipes. 
!-->
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home Page</title>
    <head>
    <body>
    <p>Welcome to my page!</p>
    <p>My name is Janelle Ponnor.</p>
    <p>I am a sophomore in SEAS.</p>
    <p>I am a computer science major.</p>
    <!--image tags to insert image in static folder !-->
    <!-- This image is from the Columbia University Admissions Page. 
    https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.columbia.edu%2Fconte
    nt%2Fadmissions&psig=AOvVaw3z5oPVH6nFRLPTtcz7kwyk&ust=1589676610971000&sour
    ce=images&cd=vfe&ved=0CAIQjRxqFwoTCPCmq4GVt-kCFQAAAAAdAAAAABAD !-->
    <p><img src="/static/images/Morningside Campus at Dusk 2_resized2.jpg"></p>
    <!-- links to other pages !-->
    <a href="/1006assignments"> Visit my assignments page!</a>
    <p><a href="/1006classes"> Visit my classes page!</a></p>
    <p><a href="https://www.allrecipes.com/"> Visit my favorite website:
    AllRecipes!</a><p>
    </body>
</html>

