<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome to my page!</p>
    <p>My name is Janelle Ponnor.</p>
    <p>I am a sophomore in SEAS.</p>
    <p>I am a computer science major.</p>
    <a href="/1006assignments"> Visit my assignments page!</a>
    <p><a href="/1006classes"> Visit my classes page!</a></p>
    <p><a href="https://www.allrecipes.com/"> Visit my favorite website!</a><p>
    </body>
</html>

